
<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Admin</title>-->
  @*  @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-
                        target=".navbar-collapse" title="more options">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
          @*      @Html.ActionLink("Trang Chủ", "Index", "Home", new { area = "" }, new
                {
                    @class =
                "navbar-brand"
                })*@
            <!--</div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">-->
                 @*   <li>@Html.ActionLink("Đăng Ký", "Register", "Account")</li>
                    <li>@Html.ActionLink("Đăng nhập", "Login", "Account")</li>
                    <li>@Html.ActionLink("Giỏ hàng", "AddToCart", "Book")</li>*@
                <!--</ul>
            </div>-->
         @*   @Html.Partial("_LoginPartial")*@
        <!--</div>
    </div>
    <!-- Content row -->
    <!--<div class="container">
        <div class="row">-->
            <!-- SIDEBAR Open -->
            <!--<div id="content-left" class="col-2 col-lg-2">
                <h1>Chủ đề</h1>
                    <ul>-->
                  @*  <li>@Html.ActionLink("Cuộc sống", "GetBookByCategory/1", "Book")</li>
                    <li>@Html.ActionLink("Lập trình", "GetBookByCategory/2", "Book")</li>
                    <li>@Html.ActionLink("Sức khỏe", "GetBookByCategory/3", "Book")</li>*@
                    <!--</ul>-->
                @*@Html.Action("GetCategory", "Book")*@
            <!--</div>-->
            <!-- right content box -->
            <!--<div id="content-right" class="col-lg-10 container">-->
              @*  @RenderBody()*@
            <!--</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer style="text-align:center">-->
                @*    <p>&copy; @DateTime.Now.Year - Lập trình Web</p>*@
                <!--</footer>
            </div>
        </div>
    </div>-->
 @*   @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")*
</body>
</html>-->*@

<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Book")</li>
                        <li>@Html.ActionLink("About", "About", "Book")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Book")</li>
                        <li>@Html.ActionLink("Shopping cart", "AddToCard", "Book")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>