@model IEnumerable<BTVN_B5_2.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.ActionLink("Thêm mới", "Create", "Home")</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <strong>@item.Title</strong>
                    <div class="pull-right">
                        @Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id }, new
                        {
                            @class =
                        "btn"
                        })
                    </div>
                </div>
                <div class="panel-body">
                    <p><strong>Tác giả: </strong>@item.Author</p>
                    <p><strong>Thể loại: </strong>@item.Category.CategoryName</p>
                    <img style="align-self:center;" alt="@item.Title"
                         src="~/Content/ImageBooks/@item.Image" width="125" height="150" />
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @Html.ActionLink("Chi tiết", "Details", "Home", new { id = item.Id }, new
                        {
                        @class = "btn btn-default"
                        })
                        @Html.ActionLink("Xóa", "Delete", "Book", new { id = item.Id }, new
                        {
                            @class =
                        "btn btn-success"
                        })
                    </div>
                </div>
            </div>
        </div>
    }
</div>