@model IEnumerable<BTVN_B5_2.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h3>@Html.ActionLink("Thêm mới", "Create", "Books")</h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <strong>@item.Title</strong>
                    <div class="pull-right">
                        @Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, new
                        {
                            @class =
                        "btn"
                        })
                    </div>
                </div>
                <div class="panel-body">
                    <p><strong>Tác giả: </strong>@item.Author</p>
                    <p><strong>Thể loại: </strong>@item.Category.CategoryName</p>
                    <img style="align-self:center;" alt="@item.Title"
                         src="~/Content/ImageBooks/@item.Image" width="125" height="150" />
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @Html.ActionLink("Chi tiết", "Details", "Books", new { id = item.Id }, new
                        {
                        @class = "btn btn-default"
                        })
                        @Html.ActionLink("Xóa", "Delete", "Books", new { id = item.Id }, new
                        {
                            @class =
                        "btn btn-success"
                        })
                    </div>
                </div>
            </div>
        </div>
    }



    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }

        </table>
    *@
